﻿@using DrinksMachine.Data.Models
@model List<DrinkOption>

<div class="container">
    <div class="columns">
        <div id="vending-panel" class="column is-half is-offset-one-quarter">
            <section id="vending-inset" class="p-3">
                <header>
                    <img id="logo" src="~/images/Logo.jpg" alt="HOT DRINKS" />
                </header>

                <h1 class="mt-2 mb-1 vending-label">System messages</h1>

                <div id="vending-lcd" class="p-2">
                </div>

                <h1 class="mt-2 mb-1 vending-label">Available Drinks</h1>

                @foreach (DrinkOption option in Model)
                {
                    <button data-id="@option.Id" type="button" class="button mt-3 vending-button">@option.Name</button>
                }
            </section>
        </div>
    </div>
</div>
