﻿html {
    background-image: url('../images/wallpaper.jpg');
}

#vending-panel {
    background-image: url('../images/Wood.jpg');
}

#vending-inset {
    background-image: url('../images/Frame.jpg');
    box-shadow: 0px 0px 20px #000 inset;
}

#logo {
    min-width: 100%;
    height: auto;
    box-shadow: 0px 0px 20px #e6832f;
    border: 1px solid #e6832f;
}

h1.vending-label {
    color: #fff;
    font-family: 'Racing Sans One', cursive;
}

#vending-lcd {
    border: 5px solid #eee;
    border-radius:5px;
    background-color: #bdcda8;
    box-shadow: 0px 0px 10px #444 inset;
    font-family: 'Aldrich', sans-serif;
    min-height: 9em;
    overflow: hidden;
}

.vending-button {
    width: 100%;
    font-family: 'Racing Sans One', cursive;
}

/* Spinner css taken from https://tobiasahlin.com/spinkit/ */
.spinner {
    margin: 25px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}